body,html{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "微软雅黑";
    box-sizing: border-box;
    color: #4a4a4a;
}
ul{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #4a4a4a;
}
li{
    list-style: none;
}
$color:#ff6600; 
$color-level1: #ffc095;
$color-level2: #ffe1ce;
$color-btn-green: #31c17b;

@font-face {
    font-family: 'iconfont';
}

@mixin buttonSet($params){
    background-color: $params;
    color: #fff;
    border-color: $params;
    &:hover{
        opacity: .7;
    }
}
@mixin buttonType1(){
    background-color: $color;
    color: #fff;
    border-color: $color;
}

@mixin scrollBar(){
    &::-webkit-scrollbar {
        width: 4px;
        background-color: #eee;
    }
    &::-webkit-scrollbar-track {
        background-color: #eee;
    }
    &::-webkit-scrollbar-thumb {
        background: #3DB6A4;
    }
}
